<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{isLogin ? "Login" : "Sign Up"}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-no-padding">
      <!-- body -->
      <ion-col sizeSm="6" offsetSm="6">
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-text color="primary">
              <h1>{{isLogin ? "Login" : "Sign Up"}} Account</h1>
            </ion-text>

            <ion-text color="primary">
              <h6 *ngIf="!isLogin">Enter your personal details to create account</h6>
              <h6 *ngIf="isLogin">Enter your personal details to login to your account</h6>
            </ion-text>
          </ion-col>
        </ion-row>

        <!-- Divider line with text -->
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col class="ion-text-center">
            <div class="divider-with-text">
              <div class="divider-line"></div>
              <ion-text>
                <div class="divider-text">Or</div>
              </ion-text>
              <div class="divider-line"></div>
            </div>
          </ion-col>
        </ion-row>

        <!-- Sign up form  -->
        <ion-row *ngIf="!isLogin" class="ion-no-padding">
          <ion-col>
            <app-signup></app-signup>
          </ion-col>
        </ion-row>

        <!-- Login form -->
        <ion-row *ngIf="isLogin" class="ion-no-padding">
          <ion-col>
            <app-login></app-login>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col sizeSm="6" offsetSm="3">
              <ion-button type="button" color="primary" fill="clear" expand="block"
                (click)="toggleAuthMode()">
                Go to {{!isLogin ? "Login" : "Sign up"}}
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
