ion-content {
	--background: url('https://images.unsplash.com/photo-1536431311719-398b6704d4cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80')
		0 0/100% 100% no-repeat;
}

ion-item {
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;
}

ion-grid ion-row {
  margin-bottom: 15px;
}

.divider-with-text {
  display: flex;
  align-items: center;
}

.divider-line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
}

.divider-text {
  padding: 0 16px;
  white-space: nowrap;
}

.custom-input {
  --border-radius: 20px;
  --padding: 5px;
  --bg: var(--ion-color-secondary);
}

.custom-input {
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--bg);
  padding: var(--padding);
}

.custom-input ion-input {
  border: none;
  background: var(--bg);
}

.name-input-container {
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  width: 100%;
}

.name-input-container ion-list {
  flex: 1;
}
