// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
	--ion-color-primary: #1b0137;
	--ion-color-primary-rgb: 27,1,55;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #180130;
	--ion-color-primary-tint: #321a4b;

	--ion-color-secondary: #d7ecc0;
	--ion-color-secondary-rgb: 215,236,192;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #bdd0a9;
	--ion-color-secondary-tint: #dbeec6;

	--ion-color-tertiary: #eddada;
	--ion-color-tertiary-rgb: 237,218,218;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #d1c0c0;
	--ion-color-tertiary-tint: #efdede;

	--ion-color-success: #007610;
	--ion-color-success-rgb: 0,118,16;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #00680e;
	--ion-color-success-tint: #1a8428;

	--ion-color-warning: #f7a808;
	--ion-color-warning-rgb: 247,168,8;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #d99407;
	--ion-color-warning-tint: #f8b121;

	--ion-color-danger: #ff3c2f;
	--ion-color-danger-rgb: 255,60,47;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #e03529;
	--ion-color-danger-tint: #ff5044;

	--ion-color-light: #f1f0f3;
	--ion-color-light-rgb: 241,240,243;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d4d3d6;
	--ion-color-light-tint: #f2f2f4;

	--ion-color-medium: #280339;
	--ion-color-medium-rgb: 40,3,57;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #230332;
	--ion-color-medium-tint: #3e1c4d;

	--ion-color-dark: #250036;
	--ion-color-dark-rgb: 37,0,54;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #210030;
	--ion-color-dark-tint: #3b1a4a;

}