ion-item {
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;
}

.custom-input {
  --border-radius: 20px;
  --padding: 1px;
}

.custom-input {
  border-radius: var(--border-radius);
  padding: var(--padding);
}

.name-input-container {
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  width: 100%;
}

.name-input-container ion-list {
  flex: 1;
}
